In [9]:
import geopandas as gpd
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from shapely import wkt

In [10]:
df = pd.read_csv('ads24-roads.csv', low_memory=False)
df.head()

,id,name,road_class,lanes,width,oneway,nodes,wkt
0,4911883,9 Maja,secondary,NaN,NaN,yes,"{1706340509,11956119625,11956119626,1195611962...",LINESTRING(19.143442800000003 51.5878166000000...
1,4911884,NaN,secondary,2,NaN,NaN,"{32127316,4703618827,538482267}","LINESTRING(19.1776191 51.601251700000006,19.17..."
2,4911885,NaN,secondary,2,NaN,NaN,"{31941772,32127316}","LINESTRING(19.1781495 51.601463700000004,19.17..."
3,4918113,NaN,tertiary_link,1,NaN,yes,"{32216651,300116154,10294036067,10294036070,10...","LINESTRING(21.036622400000002 52.1637064,21.03..."
4,4918117,NaN,tertiary,1,NaN,yes,"{32216708,300116160,3391231161,10293604891,300...","LINESTRING(21.0365343 52.162990300000004,21.03..."

In [11]:
crs = {'init': 'epsg:4326'}
df['geometry'] = df['wkt'].apply(wkt.loads)
gdf = gpd.GeoDataFrame(df, crs=crs, geometry='geometry')

/home/jakub/.local/lib/python3.10/site-packages/pyproj/crs/crs.py:143: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [12]:
gdf.dtypes

id               int64
name            object
road_class      object
lanes           object
width           object
oneway          object
nodes           object
wkt             object
geometry      geometry
dtype: object

In [13]:
gdf['no_points'] = df['geometry'].apply(lambda x: len(x.xy[0]))

In [14]:
gdf

,id,name,road_class,lanes,width,oneway,nodes,wkt,geometry,no_points
0,4911883,9 Maja,secondary,NaN,NaN,yes,"{1706340509,11956119625,11956119626,1195611962...",LINESTRING(19.143442800000003 51.5878166000000...,"LINESTRING (19.14344 51.58782, 19.14349 51.587...",6
1,4911884,NaN,secondary,2,NaN,NaN,"{32127316,4703618827,538482267}","LINESTRING(19.1776191 51.601251700000006,19.17...","LINESTRING (19.17762 51.60125, 19.17695 51.600...",3
2,4911885,NaN,secondary,2,NaN,NaN,"{31941772,32127316}","LINESTRING(19.1781495 51.601463700000004,19.17...","LINESTRING (19.17815 51.60146, 19.17762 51.60125)",2
3,4918113,NaN,tertiary_link,1,NaN,yes,"{32216651,300116154,10294036067,10294036070,10...","LINESTRING(21.036622400000002 52.1637064,21.03...","LINESTRING (21.03662 52.16371, 21.0367 52.1635...",7
4,4918117,NaN,tertiary,1,NaN,yes,"{32216708,300116160,3391231161,10293604891,300...","LINESTRING(21.0365343 52.162990300000004,21.03...","LINESTRING (21.03653 52.16299, 21.03669 52.163...",13
...,...,...,...,...,...,...,...,...,...,...
2588729,4911754,Aleja Komisji Edukacji Narodowej,tertiary,2,NaN,yes,"{2147593948,2524756147,9492632368,1278816168,9...","LINESTRING(21.0552832 52.142073100000005,21.05...","LINESTRING (21.05528 52.14207, 21.0554 52.1419...",7
2588730,4911759,Akacjowa,residential,NaN,NaN,NaN,"{32126043,10160391828,2511487065,1332421940,32...","LINESTRING(21.0012435 52.2062766,21.0012566 52...","LINESTRING (21.00124 52.20628, 21.00126 52.206...",5
2588731,4911760,Asfaltowa,residential,1,NaN,yes,"{32126045,1317127866,1317127859,10905645887,26...","LINESTRING(21.006864500000002 52.2072863,21.00...","LINESTRING (21.00686 52.20729, 21.00689 52.207...",9
2588732,4911761,Opoczyńska,residential,1,NaN,yes,"{32126047,2636842632,10905645879,9420726342,10...",LINESTRING(21.006754700000002 52.2046675000000...,"LINESTRING (21.00675 52.20467, 21.00671 52.204...",10
2588733,4911762,Mieczysława Karłowicza,residential,NaN,NaN,no,"{32126049,10162314469,2636589941,2636603711,13...",LINESTRING(21.003773000000002 52.2021817000000...,"LINESTRING (21.00377 52.20218, 21.00375 52.202...",11

In [15]:
df_buildings = pd.read_csv('ads24-buildings.csv', low_memory=False)
df_buildings

,id,building,wkt
0,201782706,yes,"LINESTRING(18.9918839 50.1900409,18.9919257 50..."
1,361329065,yes,"LINESTRING(20.615881 52.8893058,20.6158402 52...."
2,361329066,yes,"LINESTRING(20.6141094 52.888029200000005,20.61..."
3,361329067,yes,"LINESTRING(20.611661700000003 52.8855821,20.61..."
4,201782707,yes,"LINESTRING(18.9976388 50.194090800000005,18.99..."
...,...,...,...
17424643,1326345435,yes,"LINESTRING(17.9698227 54.6989669,17.9699094000..."
17424644,1326345436,yes,"LINESTRING(17.9694191 54.6993591,17.9693091 54..."
17424645,26648069,yes,"LINESTRING(15.0015409 51.158778700000006,15.00..."
17424646,361329064,yes,"LINESTRING(20.609454300000003 52.8859549,20.60..."
17424647,201782704,yes,"LINESTRING(19.0002004 50.1898593,19.0002047 50..."

In [16]:
df_cities = pd.read_csv('ads24-cities.csv', low_memory=False)
df_cities

,id,name,wkt
0,165941,Poznań,"LINESTRING(16.7315878 52.4637462,16.7316249 52..."
1,289375,Swarzędz,"LINESTRING(17.0368891 52.4020415,17.0371395000..."
2,295807,Płock,LINESTRING(19.631295700000003 52.5530774000000...
3,301718,Szamotuły,"LINESTRING(16.5405674 52.631335500000006,16.54..."
4,336074,Warszawa,"LINESTRING(20.8519173 52.199717500000006,20.85..."
...,...,...,...
25732,18108075,Kamionka,"LINESTRING(18.0346589 50.3858905,18.0347075 50..."
25733,18108076,Poborszów,"LINESTRING(18.0572205 50.384126200000004,18.05..."
25734,18108077,Komorno,"LINESTRING(18.051379 50.3697153,18.0521995 50...."
25735,18154774,Jasionno,"LINESTRING(19.3304158 54.097330400000004,19.33..."
25736,18181027,Gronowo Elbląskie,"LINESTRING(19.2838472 54.0932655,19.2838079000..."

In [17]:
df_communes = pd.read_csv('ads24-communes.csv', low_memory=False)
df_communes

,id,name,wkt
0,295516,gmina Iwanowice,"LINESTRING(19.913954500000003 50.1816588,19.91..."
1,295517,gmina Słomniki,"MULTILINESTRING((19.995095000000003 50.279997,..."
2,295804,gmina Brudzeń Duży,"LINESTRING(19.3678984 52.6283338,19.391031 52...."
3,295805,gmina Mochowo,LINESTRING(19.423730900000002 52.8155332000000...
4,295858,gmina Zakroczym,"LINESTRING(20.4823808 52.4295976,20.4824453000..."
...,...,...,...
2521,12211445,Рівненська сільська громада,"LINESTRING(23.7470046 51.4036667,23.7363780000..."
2522,12211551,Вишнівська сільська громада,MULTILINESTRING((23.981171500000002 51.0213428...
2523,12228935,Рава-Руська міська громада,"LINESTRING(23.7498818 50.2990665,23.7497878 50..."
2524,12229437,Белзька міська громада,"LINESTRING(24.1270896 50.4592274,24.1247927 50..."
2525,12229649,Сокальська міська громада,LINESTRING(24.146717900000002 50.6454276000000...

In [18]:
df_countries = pd.read_csv('ads24-countries.csv', low_memory=False)
df_countries

      id         name                                                wkt
0  14296    Slovensko  LINESTRING(18.819233800000003 49.5162949000000...
1  49715       Polska  LINESTRING(14.078291700000001 54.4411306,14.06...
2  50046      Danmark  LINESTRING(14.344398900000002 55.1476253,14.34...
3  51477  Deutschland  LINESTRING(14.078291700000001 54.4411306,14.06...
4  51684        Česko  LINESTRING(14.8055929 50.8397881,14.8056452 50...
5  59065     Беларусь  MULTILINESTRING((23.6014449 53.927672900000005...
6  60189       Россия  LINESTRING(20.655716700000003 55.3842167,20.63...
7  60199      Україна  LINESTRING(23.643509700000003 51.5584108000000...
8  72596      Lietuva  MULTILINESTRING((22.766023200000003 54.3871248...

In [19]:
df_powiats = pd.read_csv('ads24-powiats.csv', low_memory=False)
df_powiats

,id,name,wkt
0,59188,Брэсцкі раён,MULTILINESTRING((23.6258933 52.136859900000005...
1,59273,Гродзенскі раён,MULTILINESTRING((23.6014449 53.927672900000005...
2,62345,Görlitz,"LINESTRING(14.6998037 51.597162000000004,14.70..."
3,62523,Frankfurt (Oder),"LINESTRING(14.4987232 52.3944544,14.4996228000..."
4,62537,Uckermark,"LINESTRING(14.1104482 52.965297400000004,14.11..."
...,...,...,...
416,11921908,Ковельський район,MULTILINESTRING((23.643509700000003 51.5584108...
417,11923012,Шептицький район,LINESTRING(24.146717900000002 50.6454276000000...
418,11925687,Львівський район,"LINESTRING(23.7498818 50.2990665,23.7497878 50..."
419,11925828,Яворівський район,"LINESTRING(23.4944266 50.1769612,23.4926697 50..."
420,11925970,Самбірський район,"LINESTRING(22.8920019 49.706148600000006,22.89..."

In [20]:
df_railways = pd.read_csv('ads24-railways.csv', low_memory=False)
df_railways

             id     railway                                                wkt
0       4945353  dismantled  LINESTRING(21.015705800000003 52.221566,21.015...
1       4990565        rail  LINESTRING(21.0438805 52.247502700000005,21.04...
2       4990566        rail  LINESTRING(21.0420424 52.2412129,21.0420975 52...
3       4990567        rail  LINESTRING(21.029751700000002 52.2344881,21.02...
4       5000677        rail  LINESTRING(21.0556264 52.2632842,21.0545974000...
...         ...         ...                                                ...
130384  4820685        rail  LINESTRING(19.8524295 50.0863188,19.8523603 50...
130385  4820931        rail  LINESTRING(18.1960821 54.277320100000004,18.19...
130386  4820939        rail  LINESTRING(17.7118431 54.108859,17.7122934 54....
130387  4820953     disused  LINESTRING(17.7559542 54.535678700000005,17.75...
130388  4820973        rail  LINESTRING(18.025377000000002 54.2066599000000...

[130389 rows x 3 columns]

In [21]:
df_roads = pd.read_csv('ads24-roads.csv', low_memory=False)
df_roads

,id,name,road_class,lanes,width,oneway,nodes,wkt
0,4911883,9 Maja,secondary,NaN,NaN,yes,"{1706340509,11956119625,11956119626,1195611962...",LINESTRING(19.143442800000003 51.5878166000000...
1,4911884,NaN,secondary,2,NaN,NaN,"{32127316,4703618827,538482267}","LINESTRING(19.1776191 51.601251700000006,19.17..."
2,4911885,NaN,secondary,2,NaN,NaN,"{31941772,32127316}","LINESTRING(19.1781495 51.601463700000004,19.17..."
3,4918113,NaN,tertiary_link,1,NaN,yes,"{32216651,300116154,10294036067,10294036070,10...","LINESTRING(21.036622400000002 52.1637064,21.03..."
4,4918117,NaN,tertiary,1,NaN,yes,"{32216708,300116160,3391231161,10293604891,300...","LINESTRING(21.0365343 52.162990300000004,21.03..."
...,...,...,...,...,...,...,...,...
2588729,4911754,Aleja Komisji Edukacji Narodowej,tertiary,2,NaN,yes,"{2147593948,2524756147,9492632368,1278816168,9...","LINESTRING(21.0552832 52.142073100000005,21.05..."
2588730,4911759,Akacjowa,residential,NaN,NaN,NaN,"{32126043,10160391828,2511487065,1332421940,32...","LINESTRING(21.0012435 52.2062766,21.0012566 52..."
2588731,4911760,Asfaltowa,residential,1,NaN,yes,"{32126045,1317127866,1317127859,10905645887,26...","LINESTRING(21.006864500000002 52.2072863,21.00..."
2588732,4911761,Opoczyńska,residential,1,NaN,yes,"{32126047,2636842632,10905645879,9420726342,10...",LINESTRING(21.006754700000002 52.2046675000000...
2588733,4911762,Mieczysława Karłowicza,residential,NaN,NaN,no,"{32126049,10162314469,2636589941,2636603711,13...",LINESTRING(21.003773000000002 52.2021817000000...

In [22]:
df_trees = pd.read_csv('ads24-trees.csv', low_memory=False)
df_trees

                id                                           wkt
0        757743500                  POINT(14.6020812 53.4268239)
1        757743502          POINT(14.766514200000001 53.3924755)
2        757743504          POINT(14.6014835 53.427567100000005)
3        757743506          POINT(14.7666058 53.392849000000005)
4        757743507  POINT(14.601569600000001 53.427390300000006)
...            ...                                           ...
1121907  757737856          POINT(14.7702661 53.394229200000005)
1121908  757737857                  POINT(14.6034476 53.3695584)
1121909  757737859  POINT(14.770316600000001 53.394214600000005)
1121910  757737860          POINT(14.603174300000001 53.3692579)
1121911  757737863                   POINT(14.770175 53.3948492)

[1121912 rows x 2 columns]

In [23]:
df_voivodships = pd.read_csv('ads24-voivodships.csv', low_memory=False)
df_voivodships

,id,name,wkt
0,28322,Mecklenburg-Vorpommern,"LINESTRING(14.078291700000001 54.4411306,14.06..."
1,59189,Брэсцкая вобласць,LINESTRING(23.643509700000003 51.5584108000000...
2,59275,Гродзенская вобласць,MULTILINESTRING((23.6014449 53.927672900000005...
3,62467,Sachsen,"LINESTRING(14.6998037 51.597162000000004,14.70..."
4,62504,Brandenburg,"LINESTRING(14.6998037 51.597162000000004,14.70..."
5,71064,Волинська область,LINESTRING(24.146717900000002 50.6454276000000...
6,72380,Львівська область,LINESTRING(24.146717900000002 50.6454276000000...
7,72489,Закарпатська область,"LINESTRING(22.908868000000002 48.9936468,22.90..."
8,103906,Калининградская область,"LINESTRING(20.655716700000003 55.3842167,20.63..."
9,104401,województwo zachodniopomorskie,"LINESTRING(14.1235976 52.8356477,14.1235958 52..."
10,130914,województwo świętokrzyskie,"LINESTRING(19.7078051 50.745226900000006,19.70..."
11,130919,województwo lubelskie,LINESTRING(21.615546300000002 51.6175626000000...
12,130935,województwo mazowieckie,"LINESTRING(19.2592144 52.4425912,19.2600856 52..."
13,130957,województwo podkarpackie,"LINESTRING(21.1421116 50.237679400000005,21.14..."
14,130969,województwo lubuskie,"LINESTRING(14.5343762 52.39499970000001,14.534..."
15,130971,województwo wielkopolskie,"LINESTRING(15.776287000000002 52.6378939,15.78..."
16,130975,województwo pomorskie,"LINESTRING(16.699033200000002 54.5707858,16.69..."
17,223407,województwo kujawsko-pomorskie,"LINESTRING(17.2477403 53.379894,17.24781650000..."
18,223408,województwo warmińsko-mazurskie,"LINESTRING(19.1292765 53.588260600000005,19.12..."
19,224457,województwo dolnośląskie,"LINESTRING(14.8189773 50.8838297,14.8189464000..."
20,224458,województwo łódzkie,"LINESTRING(18.0745958 51.349917100000006,18.08..."
21,224459,województwo małopolskie,"LINESTRING(19.0932099 49.9566589,19.0931767 49..."
22,224460,województwo opolskie,"LINESTRING(16.907898 50.4494483,16.9087023 50...."
23,224461,województwo podlaskie,LINESTRING(21.605751700000003 53.4763405000000...
24,224462,województwo śląskie,"LINESTRING(18.0350325 50.065766200000006,18.03..."
25,388269,Žilinský kraj,LINESTRING(18.819233800000003 49.5162949000000...
26,388271,Prešovský kraj,"LINESTRING(19.901206000000002 49.139971,19.901..."
27,435508,Střední Morava,"LINESTRING(16.8618637 50.172952,16.86188660000..."
28,435512,Moravskoslezsko,"LINESTRING(17.4232801 50.211770200000004,17.42..."
29,435513,Severovýchod,"LINESTRING(14.8055929 50.8397881,14.8056452 50..."
30,974211,Marijampolės apskritis,"LINESTRING(22.766023200000003 54.3871248,22.76..."
31,1076930,Alytaus apskritis,MULTILINESTRING((23.331083600000003 54.2703039...

In [33]:
df_roads['nodes_set'] = df_roads['nodes'].apply(lambda x: set(map(int, x.strip('{}').split(','))))

In [34]:
unique_nodes_count_roads = len(set.union(*df_roads['nodes_set']))
unique_nodes_count_roads

14698410